#window, #outer-box, #input, #inner-box, #entry {
    color: white;
}

#window {
    background-color: rgba(23, 20, 33, 0.7);
    border: 3px solid #5e5c64;
    border-radius: 10px;
}

#outer-box {
    margin: 10px;
}

#input {
    margin-bottom: 10px;
    background-color: #272238;
    border: 1px solid #5e5c64;
    border-radius: 10px;
}

#scroll {
    margin: 0px;
}

#text {
    margin: 5px;
}

#entry:selected {
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
}
