PKGMANAGER=trizen

## aliases

alias speed='speedtest-cli'
alias neo='neofetch'
alias owo='owofetch'
alias up='trizen -Syu'
alias spice='spicetify'
alias buytime='dd if=/dev/urandom of=homework.pdf bs=1M count=4'
alias poweroff='systemctl poweroff'
alias suspend='systemctl suspend'
alias restart='systemctl restart'
alias yt='ytfzf'
alias bonsai='cbonsai -l -t 0.01 -i -w 0.5 -m BonsaiDisIs -M 6 -L 48 -v'
alias rainbowpuke='cat /dev/random | base64 -w 0 | lolcat'
alias uwu='uwufetch'
alias meip='curl ifconfig.me'
alias reload-keys='sudo systemd-hwdb update && sudo udevadm trigger --verbose --sysname-match="event*"'
alias keycodes='nvim /usr/include/linux/input-event-codes.h'
alias edit-keycodes='sudo $EDITOR /etc/udev/hwdb.d/90-extra-keyboard.hwdb'
alias rtop='radeontop'
alias update-grub='grub-mkconfig -o /boot/grub/grub.cfg'
alias stream='scrcpy & sndcpy'

# Rate Arch Mirrors: Example of everyday use (modified)

COUNTRIES="Germany Netherlands Belgium Poland Denmark"

alias ua-drop-caches='sudo paccache -rk3; $PKGMANAGER -Sc --aur --noconfirm'
alias ua-update-all='export TMPFILE="$(mktemp)"; \
	sudo true; \
	rate-arch-mirrors --max-delay=21600 | tee -a $TMPFILE \
	  && sudo mv /etc/pacman.d/mirrorlist /etc/pacman.d/mirrorlist-backup \
	  && sudo mv $TMPFILE /etc/pacman.d/mirrorlist \
	  && ua-drop-caches \
	  && $PKGMANAGER -Syyu --noconfirm'
